<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow">

                <div class="card-header bg-dark text-white">
                    <h3>My Profile</h3>
                </div>

                <div class="card-body">

                    <table class="table">

                        <tr>
                            <th>Name</th>
                            <td>{{ request.user.username }}</td>
                        </tr>

                        <tr>
                            <th>Email</th>
                            <td>{{ request.user.email }}</td>
                        </tr>

                    </table>

                    <a href="{% url 'home' %}" class="btn btn-secondary">
                        Home
                    </a>

                    <a href="{% url 'orders' %}" class="btn btn-success">
                        My Orders
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>